<template>

    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#" style="width: inherit;">
            <div class="sidebar-brand-icon rotate-n-15"></div>
            <div class="sidebar-brand-text mx-3" style="width: inherit;"><span style="width: inherit;">Editor</span></div>
        </a>
        <div class="text-center d-none d-md-inline">
       
      </div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Universit%C3%A4t_Freiburg_%28Schweiz%29_logo_small.svg/220px-Universit%C3%A4t_Freiburg_%28Schweiz%29_logo_small.svg.png" id="img" alt="Trulli" style="width: 80%; position:absolute; bottom:5%" >
        
        
      </div>

</template>
