<template>
  

  <div class="" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">${title}</h5>
          </button>
        </div>
        <div class="modal-body">
          <p>${message}</p>
        </div>
        <div class="modal-footer">
          <button click.delegate="ok()" type="button" class="btn btn-primary">OK</button>
          <button click.delegate="cancel()" type="button" class="btn btn-primary">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>
